body {
    margin: 0 auto;
    background: #E5E5E5;
    width: 800px;
    text-align: center;
    display: flex;
}

.container {
    position: absolute;
    margin-top: 50px;
    width: 550px;
    height: 729px;
    left: 780px;
    background: #1F2937;

}

#header {
    padding-top: 10px;
    width: 550px;
    height: 285px;
    background: #6943FF;
}

.result-section{
    width: 500px;
    height: 108.57px;
    margin: 0 auto;
    background: #273549;
    border-radius: 4.68077px 0px 0px 0px;
}

/* status: css styling */