body {
    margin: 0 auto;
    background: #E5E5E5;
    width: 800px;
    text-align: center;
    display: flex;
}

.container {
    position: absolute;
    margin-top: 50px;
    width: 550px;
    height: 729px;
    left: 780px;
    background: #1F2937;

}

#header {
    padding-top: 10px;
    width: 550px;
    height: 285px;
    background: #6943FF;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 38px;
}

#convert-btn {
    /* button specifications */

    display: flex;
    margin: 0 auto;
    width: 117px;
    height: 45px;
    left: 217px;
    top: 209px;

    /* font of the button specifications */

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 9px 27.5px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.result-section{
    width: 500px;
    height: 108.57px;
    margin: 0 auto;
    background: #273549;
    border-radius: 4.68077px 0px 0px 0px;
}

